{% extends "base.html" %}

{% block page_header %}
<h1>{{ header_text }}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <form action="." method="post" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label class="control-label">Exercise Time</label>
          <div class='input-group' id='datetimepicker1'>
            {{ form.exercise_time(class='form-control') }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
        <div class="form-group">
          <label class="control-label">Where I Exercised</label>
          <p>{{ form.where_i_exercised(class='form-control') }}</p>
        </div>
        <div class="form-group">
          <label class="control-label">Motivation Level Before</label>
          <p>{{ form.motivation_level_before_exercise(class='form-control') }}</p>
        </div>
        <div class="form-group">
          <label class="control-label">Mood Level After</label>
          <p>{{ form.motivation_level_after_exercise(class='form-control') }}</p>
        </div>
        <div class="form-group">
          <label class="control-label">Exercises Performed</label>
          <p>{{ form.exercises_performed(class='form-control') }}</p>
        </div>
        <div class="form-group">
          <label class="control-label">Notes</label>
          <p>{{ form.exercise_notes(class='form-control') }}</p>
        </div>
        <div class="form-group text-right">
          <div class="col-lg-10 col-lg-offset-2">
            <a href="{{ url_for('exercisejournals.list') }}" class="btn btn-default">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div
  </div>
</div>
{% endblock %}