{% extends "base.html" %}

{% block page_header %}
<h1>Edit This Measurement</h1>
{% endblock %}

{% block content %}
<form action="/add-measurements" method="POST" class="form-horizontal">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>New Entry</legend>
    <div class="form-group">
      {{ form.date.label(class='col-lg-2 control-label') }} 
      <div class="col-lg-8">{{ form.date(class='form-control') }}</div>
    </div>
    <div class="form-group">
      {{ form.weight.label(class='col-lg-2 control-label') }}
      <div class="col-lg-8">{{ form.weight(class='form-control') }}</div>
    </div>
    <div class="form-group">
      {{ form.body_fat_percentage.label(class='col-lg-2 control-label') }}
      <div class="col-lg-8">{{ form.body_fat_percentage(class='form-control') }}</div>
    </div>
    <div class="form-group">
      {{ form.suprailiac.label(class='col-lg-2 control-label') }}
      <div class="col-lg-8">{{ form.suprailiac(class='form-control') }}</div>
    </div>
    <div class="form-group">
      {{ form.abdominal.label(class='col-lg-2 control-label') }}
      <div class="col-lg-8">{{ form.abdominal(class='form-control') }}</div>
    </div>
    <div class="form-group">
      {{ form.thigh.label(class='col-lg-2 control-label') }}
      <div class="col-lg-8">{{ form.thigh(class='form-control') }}</div>
    </div>
    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-2">
        <input type="submit" value="Save" class="btn btn-primary">
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}