{% extends "base.html" %}

{% block page_header %}
<h1>Measurement from: {{ measurement.date }}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td>Scale Weight</td>
          <td>{{ measurement.weight }}</td>
        </tr>
        <tr>
          <td>Body Fat Percentage</td>
          <td>{{ measurement.body_fat_percentage }}</td>
        </tr>
        <tr>
          <td>Stomach</td>
          <td>{{ measurement.stomach }}</td>
        </tr>
        <tr>
          <td>Hips</td>
          <td>{{ measurement.hips }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="bs-component">
      <div class="well text-right">
        <a href="{{ url_for('measurements.list') }}" class="btn btn-default">Back</a> 
        <a href="{{ url_for('measurements.edit', id=measurement.id) }}" class="btn btn-primary">Edit</a> 
      </div>
    </div>
  </div>
</div>
{% endblock %}