{{ '{% extends "base.html" %}' }}

{{ '{% block page_header %}' }}
<div class="col-lg-12">
  <div class="bs-component">
    <h1>New {{ model_name|title }}</h1>
  </div>
</div>
{{ '{% endblock %}' }}

{{ '{% block content %}' }}
<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <form action="." method="post" class="form-horizontal">
        {{'{{'}} form.hidden_tag() {{'}}'}}
        
        {% for key, value in fields.items(): -%}
        <div class="form-group">
          <label class="control-label">{{ key.replace("_"," ")|title }}</label>
          <p>{{'{{'}} form.{{ key }}(class='form-control') {{'}}'}}</p>
        </div>
        {% endfor -%}
        <div class="form-group text-right">
          <div class="col-lg-10 col-lg-offset-2">
            <a href="{{'{{'}} url_for('{{ model_name }}s.list') {{'}}'}}" class="btn btn-default">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div
  </div>
</div>
{{ '{% endblock %}' }}