{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
  <h1>Welcome to Two Wolves</h1>
</div>
<div class="col-lg-12">
    <h2>Two Wolves: A Cherokee Parable</h2>
    <p>An old Cherokee chief was teaching his grandson about life...</p>
    <p>"A fight is going on inside me," he said to the boy. </p>
    <p>"It is a terrible fight and it is between two wolves.</p>
    <p>One is evil - he is anger, envy, sorrow, regret, greed, arrogance, self-pity, guilt, resentment, inferiority, lies, false pride, superiority, self-doubt, and ego.</p>
    <p>The other is good - he is joy, peace, love, hope, serenity, humility, kindness, benevolence, empathy, generosity, truth, compassion, and faith.</p>
    <p>This same fight is going on inside you - and inside every other person, too."</p>
    <p>The grandson thought about it for a minute and then asked his grandfather, "Which wolf will win?"</p>
    <p>The old chief simply replied, "The one you feed."</p>
</div>
{% endblock %}