{% extends "base.html" %}
{% block content %}
<div class="col-lg-8">
    <h1>My Inspirations</h1>
    <br />
    <div class="well bs-component">
      <form action="/add-inspiration" method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>Complete The Sentence</legend>
          <div class="form-group">
            {{ form.phrase.label(class='col-lg-2 control-label') }} 
            <div class="col-lg-8">{{ form.phrase(class='form-control') }}</div>
          </div>
          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
              <input type="submit" value="Save" class="btn btn-primary">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</div>

<div class="bs-docs-section">
  <div class="col-lg-10">
    <h1>My Inspirations</h1>
    <table class="table table-striped table-hover ">
      <tr>
        <th>Inspiration</th>
        <th>Created On</th>
      </tr>
      {% for inspiration in inspirations %}
      <tr>
        <td>{{inspiration.phrase}}</td>
        <td>{{inspiration.created_at}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}