{% extends "base.html" %}

{% block page_header %}
<h1>Inspiration</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <table class="table table-striped table-hover ">
      <tbody>
        <tr>
          <td>Phrase</td>
          <td>{{ inspiration.phrase }}</td>
        </tr>
        <tr>
          <td>Created On</td>
          <td>{{ momentjs(inspiration.created_at).format('MMMM Do YYYY, h:mm:ss a') }}</td>
        </tr>
        <tr>
          <td>Updated On</td>
          <td>{{ momentjs(inspiration.updated_at).format('MMMM Do YYYY, h:mm:ss a') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="bs-component">
      <div class="well text-right">
        <a href="{{ url_for('inspirations.list') }}" class="btn btn-default">Back</a> 
        <a href="{{ url_for('inspirations.edit', phrase=inspiration.phrase) }}" class="btn btn-primary">Edit</a> 
      </div>
    </div>
  </div>
</div>
{% endblock %}